{% extends "base.html" %}

{% block 'title' %}Add Articles{% endblock 'title' %}

{% block 'create_article' %}

    {% if user.is_authenticated and user.is_staff %}
    <br>
        <div class="container">
            <div class="row g-5">
                <!--Col md 8 -->
                <div class="col-md"> 
                    <div class="card-header">
                        <h4>Create Article Post:</h4>
                    </div>                       
                    {% if user.is_authenticated and user.is_staff %}
                    <hr>
                    <br>
                    <div class="container">
                        <form method="Post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}
                    
                            <!-- Renderiza todos os campos exceto 'content' -->
                            {% for field in form.visible_fields %}
                                {% if field.name != 'content' %}
                                    <p>{{ field.label_tag }} {{ field }}</p>
                                {% endif %}
                            {% endfor %}
                    
                            <!-- Aqui vai o Quill Editor, já com o id 'editor' configurado no widget do form -->
                            <div id="editor-content">{{ form.content.value|safe }}</div>
                            <!-- Campo Oculto para Enviar o Conteúdo -->
                            <input type="hidden" name="content" id="hiddenContent">
                            <br><br>
                            <button class="btn btn-success">Add Article Post</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--Fechamento das divs ocorre na base HTML-->
    {% else %}
    <div class="container">
    <h3 class="danger">
        Você não tem permissão para acessar essa página!
    </h3>
        <a class="btn btn-danger btn-sm" href="{% url 'app_articles:articles-list' %}">Página de artigos</a>    
    </div>

    {% endif %}

{% endblock 'create_article' %}