html {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Merriweather', serif;
    overflow-x: hidden;
}

ul li {
    font-size: 12px;
    list-style-type: none; /* Remove bullets */
    padding-left: 0; /* Remove padding esquerdo */
  
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

  
p {
    font-size: 0.8em;
    font-family: 'Merriweather', serif;
}

#title-post-h1 {
    font-size: 20px;
    font-family: 'Merriweather', serif; 
}

.a-link {
    font-family: 'Merriweather', serif;
    font-size: 12px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    color: #2a2b2c; /* Cor do texto e da borda */
    padding: 5px 10px; /* Espaçamento interno */
    text-decoration: none; /* Remove o sublinhado do link */
    border: 1px solid #3a3b3c; /* Borda com a mesma cor do texto */
    border-radius: 5px; /* Bordas arredondadas */
    transition: color 0.2s, border-color 0.2s, background-color 0.2s;
}

.a-link:hover {
    color: #0056b3; /* Cor do texto no hover */
    background-color: #dfefff; /* Cor de fundo no hover */
    border-color: #0056b3; /* Cor da borda no hover */
    text-decoration: none; 
}

.a-link-side {
    font-size: 15px;
    color: #737171;
    text-align: center;
    text-decoration: none;
}

.a-link-side:hover {
    color:#062dec;
    text-decoration: none;
}
.a-link-outline {
    color: #007BFF; /* Cor do texto e da borda */
    padding: 5px 10px; /* Espaçamento interno */
    text-decoration: none; /* Remove o sublinhado do link */
    border: 1px solid #007BFF; /* Borda com a mesma cor do texto */
    border-radius: 5px; /* Bordas arredondadas */
    transition: color 0.2s, border-color 0.2s, background-color 0.2s; /* Transição suave para hover */
}
.a-link-outline:hover, .a-link-outline:focus {
    color: #0056b3; /* Cor do texto no hover */
    background-color: #dfefff; /* Cor de fundo no hover */
    border-color: #0056b3; /* Cor da borda no hover */
    text-decoration: none; /* Mantém o sublinhado removido no hover */
}

.escolha {
    font-size: 13px;
}


/* Text - highlighted*/
.highlighted-text, #highlighted-text, #titulo-xlex {
    background-image: linear-gradient(to right, #3f74a6, #c9f5a8, #f69d3c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* End Text - highlighted*/

/* Coração */
.coracao {
    display: inline-block; /* Para permitir que a largura e a altura sejam aplicadas */
    background: linear-gradient(to right, #3f74a6, #c9f5a8, #f69d3c);
    -webkit-background-clip: text; /* Necessário para preencher apenas o texto com a gradiente */
    color: transparent; /* Torna o texto transparente, então a gradiente se mostra */
}
/* End Coração */

.article-summary {
    display: block; /* Torna o elemento <i> se comportar como um bloco para aplicar margens e paddings */
    margin-top: 20px; /* Margem superior */
    margin-bottom: 20px; /* Margem inferior */
    padding: 10px; /* Recuo interno em todas as direções */
    background-color: #f9f9f9; /* Cor de fundo claro para destacar */
    border-left: 5px solid #03356b; /* Uma borda à esquerda para destaque */
    color: #333; /* Cor do texto */
    font-style: normal; /* Como estamos usando <i>, isso anula o itálico */
    font-size: 14px; /* Tamanho do texto */
    line-height: 1.5; /* Espaçamento entre linhas */
}

/* Cards Configs */
#card-link:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); 
}

.card-body {
    padding: 20px;
    height: auto;
}

.card-title a {
    font-family: 'Merriweather', serif;
    color: #090909; 
    text-decoration: none;
    text-decoration: solid;
    text-align: left;
}

.card-title a:hover {
    text-decoration: none;
    color:rgb(85, 85, 251);
}

.card-text {
    font-family: 'Merriweather', serif;
    color: #555;
    font-size: 14px;
    margin-top: 2px;
}
.card-description {
    font-size: 0.8rem;
    text-align: left;
    margin-top: 10px;
}

.card-a-category {
    font-family: 'Merriweather', serif;
    font-size: 12px;
    text-decoration: none;
    color: #737373;
}
.card-a-category:hover{
    color:#062dec;
}

#card-link {
    width: 100%; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}
.card-link {
    text-decoration: none; 
    color: inherit;
}
.card-link:hover {
    text-decoration: none; 
    color: #007BFF;
}

#bolinha-educacao::before {
    content: ""; /* Isso é necessário para que o pseudo-elemento seja exibido */
    width: 10px; 
    height: 10px;
    border-radius: 50%;
    background-color:#7a7a7a;
    position: absolute; 
    top: 15px;
    left: 15px;
}

.card-code {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #a9a9a9;
    padding: 5px 10px;
    border-radius: 3px;
}

.card-date {
    display: block;
    margin-bottom: 10px;
    font-size: 0.8em;
    color: #777;
}

.article-image {
    max-width: 100%; /* Faz com que a imagem não seja maior que o container */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove espaços extras abaixo da imagem */
    margin: 0 auto; /* Centraliza a imagem no container */
    border-radius: 10px;
}

/* End Cards */

/* SÙMULAS E JURIS */

.upper-destaque {
    font-size: 14px;
}
/* ENUNCIADO SÚMULAS */
.enunciado-pc {
    font-family: 'Merriweather', serif;
    font-size: 12px;
    color:#808080;
    text-align: justify;
}
.text-destaque {
    font-family: 'Merriweather', serif; /* Mantendo a fonte para consistência */
    font-size: 16px; /* Tamanho de fonte apropriado para leitura */
    color: #333; /* Cor de texto para leitura confortável */
    line-height: 1.6; /* Espaçamento de linha para melhor fluidez do texto */
    margin: 20px; /* Espaçamento ao redor do texto */
    background-color: #f8f8f8; /* Fundo sutil para destacar o texto */
    padding: 20px; /* Padding interno */
    border-radius: 5px; /* Bordas arredondadas para estética moderna */
}

.text-destaque a {
    color: #0056b3; /* Cor do link para destaque */
    text-decoration: none; /* Remove o sublinhado dos links */
    font-weight: bold; /* Torna os links em negrito para maior ênfase */
}

.text-destaque a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse para interatividade */
    color: #2e2c2b; /* Muda a cor ao passar o mouse para uma interação visível */
}

/*Containes Juris e Súmulas -singular */
.content-container {
    max-width: 900px; 
    margin: 0 auto; 
    padding: 20px; 
}

/* EMENTAS JURIS  */
.ementa {
    font-family: 'Merriweather', serif;
    color: #6c6e6f;
    font-size: 12px;
    margin-top: 10px;
    text-align: justify;
}

.info-ementa h3 {
    color: #333; 
    border-bottom: 2px solid #666; 
    margin-bottom: 10px; 
    padding-bottom: 10px; 
}
  
.info-ementa {
    margin-bottom: 20px; 
}

.info-final p {
    margin: 10px 0; 
}
/* Juris Info General */
.info-general {
    background-color: #fafafa; /* Cor de fundo claro para a divisão */
    border: 1px solid #ddd; /* Borda sutil */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    margin: 20px 0; /* Margem externa para separar de outros elementos */
    font-family: 'Merriweather', serif; /* Fonte legível e formal */
}

.info-general h4 {
    color: #000000; /* Cor azul para destacar o título */
    margin-bottom: 10px; /* Espaço abaixo do título */
}

.info-general hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 86, 179, 0.75), rgba(0, 0, 0, 0)); /* Gradiente horizontal para a linha */
    margin-bottom: 20px; /* Espaçamento após a linha */
}

.info-general p {
    font-size: 12px; /* Tamanho da fonte confortável para leitura */
    line-height: 1.5; /* Espaçamento de linha para melhor legibilidade */
    margin-bottom: 10px; /* Espaçamento entre parágrafos */
}

.info-general p strong {
    color: #333; /* Cor escura para enfatizar textos em negrito */
}
  

/* App Juris STJ Cards */
.card-spacing {
    margin-bottom: 5px; /* Ajuste o valor conforme necessário */
}
.card-title-juris {
    font-family: Georgia, serif;
    color: #333;
}

.card-a-title {
    font-size: 19px;
    color: #000000;
    text-decoration: solid;
}
.card-a-title:hover {
    color: rgb(4, 0, 255);
}
  
.small-info, .ementa, p {
    color: #666;
}
  
.hr {
    border-top: 1px solid #eee;
}

.p-link {
    text-align: right;
}
  
.small-info strong {
    color: #333;
}

/* SIDEBAR - PRINCÍPIOS*/
#side-hero {
    background-color: #ffffff; /* Um fundo claro, mas você pode ajustar conforme o tema do seu site */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno para respirar */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Uma leve sombra para dar profundidade */
    margin-bottom: 20px; /* Margem para separar da próxima seção ou elemento */
}

.sidebar-principio-randomico h5 {
    font-family: 'Merriweather', serif;
    margin-top: 0;
    color: #000000;
    font-size: 17px; /* Tamanho da fonte maior para o título */
    margin-bottom: 10px; /* Espaçamento para separar do texto */
}

.sidebar-principio-randomico p {
    font-family: 'Merriweather', serif;
    color: #414548; /* Cor escura para o texto para fácil leitura */
    font-size: 12px; /* Tamanho da fonte para o corpo do texto */
    line-height: 1.5; /* Espaçamento da linha para melhorar a leitura */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #565656;
    color: white;
}
tr:hover {background-color: #f5f5f5;}



/* Paginação */
.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination .step-links {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.pagination .step-links a,
.pagination .step-links span {
    color: #333;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
    background-color: #f9f9f9;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination .step-links a:hover {
    background-color: #e9e9e9;
}

.pagination .step-links span.current {
    background-color: #2e2e2f;
    color: white;
    border-color: #1d8aff;
}

/* End Paginação */

/* Links Externos */
.links-externos {
    border-left: 5px solid #03356b;/* Borda esquerda azul escuro para um toque elegante */
    padding: 20px; /* Espaçamento interno para não ficar muito junto às bordas */
    margin-bottom: 20px; /* Margem na parte inferior para separar de outros conteúdos */
}

.links-externos h5 {
    margin-bottom: 10px; /* Um pouco de espaço abaixo dos títulos */
}

.links-externos a {
    display: block; /* Faz cada link ocupar sua própria linha */
    color: #535353; /* Azul um pouco mais claro para os links, fácil de ler e identificar */
    text-decoration: none; /* Sem sublinhado para manter limpo */
    margin-bottom: 8px; /* Espaço abaixo de cada link */
}

.links-externos a:hover {
    color:#062dec;
}

/* Detail Setas*/

/* Customiza o ícone do <summary> */
details > summary {
    list-style: none; /* Remove a setinha padrão */
    cursor: pointer;
    position: relative; /* Para posicionar o pseudo-elemento */
    padding-left: 25px; /* Espaço para o ícone customizado */
}

/* Adiciona o ícone customizado antes do texto do <summary> */
details > summary::before {
    content: '+'; /* Você pode substituir isso por um ícone de sua escolha */
    position: absolute;
    left: 0; /* Alinha o ícone à esquerda */
    top: 0; /* Alinha o ícone ao topo */
    font-size: 16px; /* Tamanho do ícone */
    transition: transform 0.2s ease; /* Animação suave ao abrir/fechar */
}

/* Quando aberto, muda para '-' */
details[open] > summary::before {
    content: '-'; /* Ícone de menos */
    /* ajuste a transformação se necessário */
}
details > summary:hover {
    color: #062dec;
    transform: scale(1.05);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border-bottom-color: #062dec;

}

.escolha {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    text-align: justify;
}


.footer-container {
    width: 100%;
    min-height: 100vh;  /* Usando min-height em vez de height para flexibilidade */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente todo o conteúdo */
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background: linear-gradient(to bottom right, #000a19, #000000);
    font-family: 'Merriweather', serif;
    color: white;
    padding: 40px 20px; /* Adicionando padding horizontal para evitar que o conteúdo toque as bordas */
}

.logo-section img {
    max-width: 120px; /* Definindo uma largura máxima para consistência */
    height: auto;
}

.highlighted-text {
    font-size: 24px;
    letter-spacing: 0.2em;
    margin-top: 20px; /* Adiciona espaço acima do texto destacado */
}

.description-footer h6 {
    font-size: 16px;
    margin-top: 10px; /* Adiciona espaço acima para separação clara */
}

.footer-brand-info {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    padding: 10px 0; /* Adiciona padding para afastar do bottom */
}
.footer-navbar {
    background: #000a19; /* Cor de fundo do footer */
    color: #ffffff;
    padding: 20px 0;
    box-shadow: 0 -4px 8px rgba(0,0,0,0.1);
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-nav ul li {
    margin: 0 15px;
}

.footer-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-nav ul li a:hover {
    color: #c9f5a8; /* Cor ao passar o mouse */
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .footer-nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    .footer-nav ul li {
        margin: 10px 0;
    }
}
/* End FOOTER*/
/* Melhorar a visibilidade e interatividade de links */

a:hover {
    text-decoration: underline;
}

/* End Footer items*/


/* MEDIAS */

/* Pequenos dispositivos (smartphones grandes) */
@media (min-width: 412px) {
    p {
        font-size: 0.8rem;
    }
    ul li {
        font-size: 13px;
    }    
    .description-footer {
        font-size: 13px;
    }
    #title-post-h1 {
        font-size: 20px;
    }
}

@media (min-width: 540px) {
    p {
        font-size: 0.9rem;
        text-align: justify;
    }

    ul li {
        font-size: 14px;
    }

    .description-footer {
        font-size: 14px;
    }
    .enunciado-pc {
        font-size: 13px;
    }
    .ementa {
        font-size: 13px;
    }
    #title-post-h1 {
        font-size: 22px;
    }
    .upper-destaque {
        font-size: 16px;
    }

    p.card-description {
        font-size: 14px;
    }
}
@media (min-width: 575px) {
    p {
        font-size: 0.9rem;
        text-align: justify;
    }

    ul li {
        font-size: 14px;
    }

    .description-footer {
        font-size: 14px;
    }
    .enunciado-pc {
        font-size: 13px;
    }
    .ementa {
        font-size: 13px;
    }
    #title-post-h1 {
        font-size: 22px;
    }
    .upper-destaque {
        font-size: 16px;
    }
    p.card-description {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    p {
        font-size: 0.9rem;
    }
    ul li {
        font-size: 14px;
    }
    .description-footer {
        font-size: 15px;
    }
    .enunciado-pc {
        font-size: 13px;
    }
    #title-post-h1 {
        font-size: 25px;
    }
    .upper-destaque {
        font-size: 18px;
    }
    .article-summary {
        margin-left: 5%;
        font-style: normal; /* Como estamos usando <i>, isso anula o itálico */
        font-size: 15px; /* Tamanho do texto */
        text-align: justify;
    }
    .card-body {
        min-height: 444px;
    }
}

@media (min-width: 992px) {
    p {
        font-size: 0.9rem;
    }
    ul li {
        font-size: 15px;
    }    
    .description-footer {
        font-size: 17px;
    }
    .enunciado-pc {
        font-size: 14px;
    }
    .ementa {
        font-size: 14px;
    }
    #title-post-h1 {
        font-size: 25px;
    }
    .upper-destaque {
        font-size: 20px;
    }
    .article-summary {
        margin-left: 10%;
        font-style: normal; /* Como estamos usando <i>, isso anula o itálico */
        font-size: 16px; /* Tamanho do texto */
        text-align: justify;
    }

}
@media (min-width: 1211px) {
    p {
        font-size: 0.9rem;
    }
    ul li {
        font-size: 15px;
    }    
    .description-footer {
        font-size: 17px;
    }
    .enunciado-pc {
        font-size: 14px;
    }
    .ementa {
        font-size: 14px;
    }
    #title-post-h1 {
        font-size: 25px;
    }
    .upper-destaque {
        font-size: 20px;
    }
    .article-summary {
        margin-left: 10%;
        font-style: normal; /* Como estamos usando <i>, isso anula o itálico */
        font-size: 16px; /* Tamanho do texto */
        text-align: justify;
    }
    .card-body {
        min-height: 392px;
    }

}
@media (min-width: 1280px) {
    p {
        font-size: 0.9rem;
    }
    ul li {
        font-size: 15px;
    }    
    .description-footer {
        font-size: 20px;
    }
    .enunciado-pc {
        font-size: 15px;
    }
    #title-post-h1 {
        font-size: 30px;
    }
    .upper-destaque {
        font-size: 22px;
    }
    .article-summary {
        margin-left: 15%;
        font-style: normal; /* Como estamos usando <i>, isso anula o itálico */
        font-size: 16px; /* Tamanho do texto */
        text-align: justify;
    }

}

/* meu monitor ???*/
@media (min-width: 1440px) {
    p {
        font-size: 1.0rem;
    }
    ul li {
        font-size: 16px;
    }    
    .description-footer {
        font-size: 20px;
    }
    .enunciado-pc {
        font-size: 15px;
    }
    .ementa {
        font-family: 'Merriweather', serif;
        font-size: 15px;
    }
    #title-post-h1 {
        font-size: 30px;
    }
    .info-general p {
        font-size: 14px;
    }
    .upper-destaque {
        font-size: 25px;
    }
    .article-summary {
        margin-left: 20%;
        font-style: normal; /* Como estamos usando <i>, isso anula o itálico */
        font-size: 16px; /* Tamanho do texto */
        text-align: justify;
    }
    .card-body {
        min-height: 392px;
    }
}

/* meu monitor GD */
@media (min-width: 1880px) {
    p {
        font-size: 1.0rem;
    }
    ul li {
        font-size: 16px;
    }    
    .description-footer {
        font-size: 22px;
    }
    .enunciado-pc {
        font-size: 16px;
    }
    .ementa {
        font-family: 'Merriweather', serif;
        font-size: 15px;
    }
    #title-post-h1 {
        font-size: 32px;
    }
    .info-general p {
        font-size: 16px;
    }
    .upper-destaque {
        font-size: 25px;
    }
    .article-summary {
        margin-left: 20%;
        font-style: normal; /* Como estamos usando <i>, isso anula o itálico */
        font-size: 16px; /* Tamanho do texto */
        text-align: justify;
    }
    .card-body {
        min-height: 392px;
    }
}

@media (min-width: 2560px) {
    p {
        font-size: 1.1rem;
    }
    ul li {
        font-size: 17px;
    }
    .description-footer {
        font-size: 27px;
    }
    .enunciado-pc {
        font-size: 17px;
    }
    .ementa {
        font-size: 17px;
    }
    #title-post-h1 {
        font-size: 35                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               px;
    }
    .upper-destaque {
        font-size: 25px;
    }
    .article-summary {
        margin-left: 20%;
        font-style: normal; /* Como estamos usando <i>, isso anula o itálico */
        font-size: 16px; /* Tamanho do texto */
        text-align: justify;
    }    
    .card-body {
        min-height: 392px;
    }
}