{% extends 'base.html' %}
{% load static %}
{% block 'title' %} {{ sumulas.title }} {% endblock 'title' %} 
{% block description %}{{sumulas.meta_description}}{% endblock description %}
{% block keywords %}{{sumulas.keyword}}{% endblock keywords %}

{% block 'sumula_single' %}
    <div class="content-container">
        <img src="{% static 'images/destaque_sumulas.jpg' %}" alt="Súmulas Trib. Superiores" class="article-image">
        <!-- Bloco 1: Informações gerais -->
        <div class="info-general">
            <h1 class="upper-destaque" style="text-transform: uppercase;">{{ object.title }}</h1>
            <p>Número da Súmula: <strong>{{ object.numero_sumula }}</strong></p>
            <p>Sigla Tribunal: <strong>{{ object.sigla_tribunal }}</strong></p>
            <p>Tribunal: <strong>{{ object.nome_tribunal }}</strong></p>
            <p>Tema Jurídico: <strong>{{ object.tema_juridico }}</strong></p>
            {% if user.is_authenticated and user.is_staff %}
            <div>
              <span>
                <a href="{% url 'app_sumulas:sumula-update-post' slug=object.slug%}">Update</a>
                | | <a href="{% url 'app_sumulas:sumula-delete-post' slug=object.slug %}" style="color:red;">delete</a>
              </span>
            </div>
            {% endif %}
        </div>
        <div>
            <i class="fas fa-balance-scale"></i>
        </div>
        <!-- Bloco 2: Enunciado -->
        <div class="info-ementa">
            <h3>ENUNCIADO:</h3>
            <p  id="copiarEnunciado"><strong>( {{ object.sigla_tribunal }} nº: {{object.numero_sumula }} ) - </strong>{{object.enunciado }}</p>
            <br>
            <button id="button-copiar" onclick="copiarEnunciado()" class="btn bg-dark text-light btn-sm">Copiar Enunciado &#10004;</button>
            <br><br>
            <div id="message" style="color: rgb(109, 203, 15); font-size: 17;"></div>
            <hr>
            <h5>COMENTÀRIO</h5>
            <p>{{object.comentario | safe}}</p>
        </div>

        <!-- Bloco 3: Informações finais -->
        <br>
        <center>
            <a class="btn bg-dark text-light btn-sm" href="{% url 'app_searchs:sumula-searchs-view' %}">Formulário de busca</a>        
        </center>
        <br>
        <div class="text-destaque">
            <p>O Superior Tribunal de Justiça (STJ), como um dos órgãos máximos do Poder Judiciário brasileiro, 
            desempenha um papel crucial na uniformização da interpretação da legislação federal em todo o 
            território nacional. Uma das ferramentas mais significativas utilizadas pelo STJ para cumprir 
            essa função são as súmulas, que são enunciados que sintetizam entendimentos consolidados que 
            foram adotados pela corte. As súmulas do STJ orientam a atuação do judiciário e dos operadores 
            do direito, proporcionando previsibilidade e segurança jurídica, fundamentais para o desenvolvimento 
            do direito. Elas não apenas agilizam o processo judicial ao evitar julgamentos de recursos que trariam 
            a mesma questão já pacificada, mas também servem como uma bússola para as decisões em instâncias inferiores, 
            assegurando a consistência na aplicação da lei.</p>
            <p>Visite o site do Superior Tribunal de Justiça: 
                <a href="https://www.stj.jus.br/sites/portalp/Inicio" target="_blank" rel="noopener noreferrer">Superior Tribunal de Justiça</a>
            </p>
        </div>
        
        <br>
        <hr>
        <div class="info-final">
            <small><strong>Sigla Tribunal: </strong>{{object.sigla_tribunal }}</small><br>
            <small><strong>Número Súmula: </strong>{{object.numero_sumula }}</small><br>
            <small><strong>Título: </strong>{{object.title }}</small><br>
            <small><strong>Súmula do: </strong>{{object.nome_tribunal }}</small><br>
            <small><strong>Data Postagem: </strong>{{ object.date_created }}</small><br>
            <small><strong>Views: </strong>{{object.views}}</small><br>
            <span class="coracao">&#9829; &#9829; &#9829; &#9829; &#9829;</span>                           
            <small style="color: rgb(154, 152, 152);"><i>Xlex Love Lex</i></small>
        </div>
    </div>
    <script src="{% static 'js/copy_enunciado.js' %}"></script>
{% endblock 'sumula_single' %}