{% extends 'base.html' %}

{% block 'title' %} Súmulas {% endblock 'title' %} 
{% block description %}Consulte as Súmulas Tribunais Superiores - STF STJ TST ...{% endblock description %}
{% block keywords %}Xlex, Súmulas, Tribunais Supeiores{% endblock keywords %}

{% block 'sumulas_list' %}
<div class="container mt-5">
    <center>
        <small>Você pode fazer uma perguisa <strong>avançada</strong>, clicando no botão abaixo!</small>
        <br><br>
        <a class="btn bg-dark text-light btn-sm" href="{% url 'app_searchs:sumula-searchs-view' %}">Ir para busca avancada</a>
                      
    </center><br>  
    <h1 id="title-post-h1" style="text-transform: uppercase;">Súmulas</h1>
    <div>
        <p>Súmulas Publicadas: <strong>{{ publicacoes_count }}</strong> </p>
    </div>
    <hr>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <!-- Card Súmulas-->
        {% for sumula in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body d-flex flex-column" id="bolinha-educacao" style="height: 100%;">
                        <div style="flex-grow: 1;">
                            <code class="card-code"><strong>{{sumula.sigla_tribunal}}</strong></code>
                            <br>
                            <small class="card-sm-category"> 
                                {{sumula.nome_tribunal}}
                            </small>
                            <hr>
                            <span class="card-title">
                                <a href="{% url 'app_sumulas:sumula-single' sumula.slug %}">{{ sumula.title | slice:":47" }}</a>
                            </span><br>
                            <p class="card-description">{{sumula.enunciado | slice:'150'}}...</p>
                        </div>
                        <div class="mt-auto">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="a-link" href="{% url 'app_sumulas:sumula-single' sumula.slug %}">Ler súmula</a> 
                                </div>
                                <small class="text-muted">Xlex</small>
                            </div>
                        </div>
                        {% if user.is_authenticated and user.is_staff %}
                        <div>
                          <span>
                            <a href="{% url 'app_sumulas:sumula-update-post' sumula.slug %}">Update</a>
                            | | <a href="{% url 'app_sumulas:sumula-delete-post' sumula.slug %}" style="color:red;">delete</a>
                          </span>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div><br>

    {% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">&laquo; anterior</a>
            {% endif %}
    
            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Próxima &raquo;</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</div>



{% endblock 'sumulas_list' %}