{% extends "base.html" %}

{% block 'title' %} Delete Súmula {% endblock 'title' %} 

{% block 'sumula_delete' %}
<div class="container">
    <div class="row g-5">
        <!--Col md 8 -->
        <div class="col-md-8"> 
            <div class="album py-5">
                <div class="card-create-quiz">
                    <div class="card-header">
                        <h1>Delete Sumula:</h1>
                    </div>
                    {% if user.is_authenticated and user.is_staff %}
                    <hr>
                    <br>
                    <div class="container">
                        <h5>Tem certeza de que quer deletar essa Súmula?????</h5>
                        <br>
                        <h2 style="color:red">{{ object.title }}</h2> 
                        <br>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete Súmula</button>
                            <a href="{% url 'app_sumulas:sumulas-list' %}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                    {% else %}
                    <div class="container">
                    <h5 class="danger">
                        Você não tem permissão para acessar essa página!
                    </h5>
                        <a class="btn btn-danger btn-sm" href="{% url 'app_sumulas:sumulas-list' %}">Volte para Lista de súmulas</a>    
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--Fechamento das divs ocorre na base HTML-->
{% endblock 'sumula_delete' %}