{% extends 'base.html' %}
{% load static %}
{% block 'title' %}{{ object.title }} {% endblock 'title' %}
{% block description %}{{object.meta_description}}{% endblock description %}
{% block keywords %}{{object.keyword}}{% endblock keywords %}

{% block 'modelo_singular' %}
<br>
    <div class="container">
        <div class="row g-5">
            <div class="col-md-8">
                <div class="container">
                    <br>
                    <h1 id="title-post-h1" style="text-transform: uppercase;">{{object.title}}</h1>                     
                    <small>Ramo: {{object.ramo_direito}}</small>
                    <small>Tipo: {{object.tipo_doc}}</small>                       
                    <small>Publicado em: {{object.date_created}}</small>
                    <small>Atualizado em: <strong>{{object.last_updated}}</strong></small>
                    <br>

                    {% if user.is_authenticated and user.is_staff %}
                        <div>
                        <span>
                            <a href="{% url 'app_modelos:modelo-update' slug=object.slug %}">Update</a>
                            | | <a href="{% url 'app_modelos:modelo-delete' slug=object.slug %}" style="color:red">delete</a>
                        </span>
                        </div>
                    {% endif %}
                    <hr>
                    <img src="{% static 'images/destaque_modelos.jpg' %}" alt="Modelos de Peças e Docs Jurídicos" class="article-image">
                    <div class="article-summary">
                        <h5>{{object.title}}</h5>
                        <i>{{object.meta_description}}</i>
                    </div>
                    <p>{{object.content_doc | safe}}</p>
                    <br>
                    <div class="news-footer">
                        <span class="coracao">&#9829; &#9829; &#9829; &#9829; &#9829;</span>                           
                        <small style="color: rgb(154, 152, 152);">Xlex</small>
                        <br>
                        <span style="color: rgb(79, 79, 79);">Obrigado pela leitura!</span>
                    </div>
                    <br>

                    <small><strong>Tags:</strong></small>
                    {% for tag in tags %}
                        <code style="color:gray">{{tag.name}}</code>
                    {% endfor %}

                    <br>
                    <small><strong>Modelo: </strong>{{object.title}}</small> <br>
                    <small><strong>Publicado em: </strong>{{object.date_created}}</small><br>
                    <small><strong>Ramo: </strong>{{object.ramo_direito}}</small><br>
                    <small><strong>Views: </strong>{{object.views}}</small><br>                                                            
                </div>
                <hr>
                <h5>⚖️ Leia também</h5>
                <div class="links-externos">
                    <a href="https://xlexedu.com/articles/post/constitucionalismo-um-fenomeno-social/" target="_blank" rel="noopener noreferrer">Constitucionalismo Um Fenômeno Social</a>
                    <a href="#" target="_blank" rel="noopener noreferrer">Resolução Ambiental CONAMA</a>
                    <a href="#" target="_blank" rel="noopener noreferrer">História do Direito Ambiental</a>
                </div>
    
                <h5>🔗 Links ùteis</h5>            
                <div class="links-externos">
    
                    <a href="https://www.planalto.gov.br/ccivil_03/leis/2002/l10406compilada.htm" target="_blank" rel="noopener noreferrer">Código Civil - Lei 10.406/2002</a>
                    <a href="https://www.planalto.gov.br/ccivil_03/decreto-lei/del2848compilado.htm" target="_blank" rel="noopener noreferrer">Código Penal - DL 2.848/1940</a>
                    <a href="https://www.planalto.gov.br/ccivil_03/constituicao/constituicao.htm" target="_blank" rel="noopener noreferrer">Constituição Federal - CF/1988</a>
                    <a href="https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2015/lei/l13105.htm" target="_blank" rel="noopener noreferrer">Código de Processo Civil - Lei 13.105/2015</a>
                    <a href="https://www.planalto.gov.br/ccivil_03/decreto-lei/del3689.htm" target="_blank" rel="noopener noreferrer">Código de Processo Penal - DL 3.689/1941</a>
                </div>
            </div>

{% endblock 'modelo_singular' %}
