{% extends "base.html" %}

{% block 'title' %} Xlex | Princípios {% endblock 'title' %}
{% block description %}Princípios do Direito. Estude os Princípios do Direito.{% endblock description %}
{% block keywords %}Princípios, Legalidade, Direito, Anterioridade, {% endblock keywords %}

{% block 'principios_list' %}
<div class="container mt-5">
    <h1 id="title-post-h1" style="text-transform: uppercase;">Princípios do Dirieto</h1>
    <div>
        <p>Princípios Publicados: <strong>{{ publicacoes_count }}</strong> </p>
    </div>
    <hr>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for principio in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body d-flex flex-column" id="bolinha-educacao" style="height: 100%;">
                        <div style="flex-grow: 1;">
                            <code class="card-code">{{principio.code}}</code>
                            <br>
                            <p class="card-date">Pub: {{principio.date_created}}
                            </p>
                            <hr>
                            <span class="card-title">
                                <a href="{{ principio.get_absolute_url }}">{{ principio.principio_name | slice:":47" }}</a>
                            </span><br>
                            <small class="card-category">Ramo do:
                                <a class="card-a-category" href="{% url 'app_principios:principios-ramo-direito' principio.ramo_direito.slug %}">{{ principio.ramo_direito.name }}</a>
                            </small>
                            <hr>
                            <p class="card-description">{{principio.meta_description | slice:'145'}}</p>
                        </div>
                        <div class="mt-auto">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="a-link" href="{{ principio.get_absolute_url }}">Estudar...</a>
                                </div>
                                <small class="text-muted">Xlex</small>
                            </div>
                        </div>
                        {% if principio.slug %}
                        {% if user.is_authenticated and user.is_staff %}
                        <div>
                        <span>
                            <a href="{% url 'app_principios:principio-update' principio.slug %}">Update</a>
                            | | <a href="{% url 'app_principios:principio-delete' principio.slug %}" style="color:red">Delete</a>
                        </span>
                        </div>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div><br>

    {% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">&laquo; anterior</a>
            {% endif %}
    
            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">próxima &raquo;</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</div>

{% endblock 'principios_list' %}