{% extends 'base.html' %}

{% block 'title' %}Add Princípio{% endblock 'title' %}

{% block 'principios_create' %}
<br>
<div class="container">
    <div class="row g-5">
        <!--Col md 8 -->
        <div class="col-md"> 

            <div class="card-header">
                <h4>Create Principio do Direito:</h4>
            </div>
            {% if user.is_authenticated and user.is_staff %}
            <hr>
            <br>

            <div class="container">
                <form method="Post" enctype="multipart/form-data" id="formPrincipios">
                    {% csrf_token %}
                    {{ form.media }}
            
                    <!-- Renderiza todos os campos exceto 'content_principio' -->
                    {% for field in form.visible_fields %}
                        {% if field.name != 'content_principio' %}
                            <p>{{ field.label_tag }} {{ field }}</p>
                        {% endif %}
                    {% endfor %}
                    <h5>Principio Create</h5>
                    <!-- Aqui vai o Quill Editor, já com o id 'editor' configurado no widget do form -->
                    <div id="editor-content-principio">{{ form.content_principio.value|safe }}</div>
                    <!-- Campo Oculto para Enviar o Conteúdo -->
                    <input type="hidden" name="content_principio" id="hiddenContent_principio">

                    <br><br>
            
                    <button class="btn btn-success">Add Princípio Post</button>
                </form>
            </div>
            {% endif %}
        </div>
     <!--Fechamento das divs ocorre na base HTML-->
    </div>
</div>
{% endblock 'principios_create' %}