{% extends "base.html" %}

{% block 'title' %}Caso Delete{% endblock 'title' %}

{% block 'caso_delete' %}
<div class="container">
    <div class="row g-5">
        <!--Col md 8 -->
        <div class="col-md-8"> 
            <div class="album py-5">
                <div class="card-create-quiz">
                    <div class="card-header">
                        <h1>Delete Caso Concreto:</h1>
                    </div>
                    {% if user.is_authenticated and user.is_staff %}
                    <hr>
                    <br>
                    <div class="container">
                        <h5>Tem certeza de que quer deletar esse Caso Concreto?????</h5>
                        <br>
                        <h2 style="color:red">{{ object.title }}</h2> 
                        <br>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete Caso Concreto</button>
                            <a href="{% url 'app_casos:casos-list' %}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--Fechamento das divs ocorre na base HTML-->
{% endblock 'caso_delete' %}