{% extends 'base.html' %}

{% block 'title' %}{{tags.name}}{% endblock 'title' %}
{% block description %}{{tags.meta_description}}{% endblock description %}
{% block keywords %}Xlex, Casos Concretos por Tags{% endblock keywords %}

{% block 'caso_tag' %}
<br>
<div class="container">
    <div class="row g-5">
        <!--Col md 8 -->
        <div class="col-md-8"> 

            <div class="col-md-12 px-0">
                <h1 id="title-post-h1">Casos Concretos | Tag: {{ tags.name }}</h1>
                <span>
                    Nesta página, estão listados os casos concretos conforme a <strong>tag</strong> selecionada.
                </span><br><br>
            </div>

            <div class="album py-5">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
                    <!--Bloco -->
                    {% for caso in casos %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body d-flex flex-column" id="bolinha-educacao" style="height: 100%;">
                                <div style="flex-grow: 1;">
                                    <code class="card-code">{{caso.code}}</code>
                                    <br>
                                    <p class="card-date">Pub: {{caso.date_created}}
                                    </p>
                                    <hr>
                                    <span class="card-title">
                                        <a href="{{ caso.get_absolute_url }}">{{ caso.title | slice:":47" }}</a>
                                    </span><br>
                                    <small class="card-category">Disciplina:
                                        <a class="card-a-category" href="{% url 'app_casos:casos-disciplinas' caso.disciplina.slug %}">{{ caso.disciplina.name }}</a>
                                    </small><br>
                                    <small class="card-category">Ramo do:
                                        <a class="card-a-category" href="{% url 'app_casos:casos-ramo-direito' caso.ramo_direito.slug %}">{{ caso.ramo_direito.name }}</a>
                                    </small><br>
                                    <hr>
                                    <p class="card-description">{{caso.meta_description | slice:'140'}}</p>
                                </div>
                                <div class="mt-auto">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="a-link" href="{{ caso.get_absolute_url }}">Estudar...</a> 
                                        </div>
                                        <small class="text-muted">Xlex</small>
                                    </div>
                                </div>

                                {% if user.is_authenticated and user.is_staff %}
                                <div>
                                  <span>
                                    <a href="{% url 'app_casos:caso-update-post' caso.slug %}">Update</a>
                                    | | <a href="{% url 'app_casos:caso-delete-post' caso.slug %}" style="color:red;">delete</a>
                                  </span>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if is_paginated %}
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; primeira</a>
                            <a href="?page={{ page_obj.previous_page_number }}">&laquo; anterior</a>
                        {% endif %}
                
                        <span class="current">
                            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                        </span>
                
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">próxima &raquo;</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                {% endif %}
            </div>
        </div>


{% endblock 'caso_tag' %}