
<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}Carta das Nações Unidas - Declaração Universal dos Dirietos Humanos{% endblock description %}">
    <meta name="keywords" content="{% block keywords %}Declaração Universal dos Direitos Humanos{% endblock keywords %}">
    <script src="{% static 'js/clarity.js' %}"></script>
    <link rel="icon" sizes="96x96" type="image/ico" href="{% static 'images/favicon.ico' %}"> 
    <link rel="icon" sizes="96x96" type="image/png" href="{% static 'images/favicon-96x96.png' %}">    
    <link rel="icon" sizes="48x48" type="image/png" href="{% static 'images/favicon-48x48.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>{% block 'title' %}Direitos Humanos{% endblock 'title' %}</title>
</head>
<body>

    <!-- Hero Section -->
    <div class="hero-section">
        <div class="welcome-container">
            <h1 class="site-title">Carta das Nações Unidas</h1>
            <div id="site-description">Adotada e proclamada pela Assembleia Geral das Nações Unidas (resolução 217 A III) em 10 de dezembro 1948.</div>
            <br>
        </div>
    </div>
    <div class="logo-section">
    <a href="/">
        <img src="{% static 'images/logo.png' %}" alt="Logo Xlex Educação e Pesquisa Jurídica" width="62px">
    </a>        
    </div>


    <div class="content-container">
        <a class="a-link-outline" href="/">Voltar | Home</a>
        <div class="info-general">
            <h1 class="upper-destaque" style="text-transform: uppercase;">
                Declaração Universal dos Direitos Humanos
            </h1>
            <p>
                A Declaração Universal dos Direitos Humanos (DUDH) é um documento histórico na história dos direitos humanos. Elaborada por representantes com diferentes formações jurídicas e culturais de todas as regiões do mundo, a Declaração foi proclamada pela Assembleia Geral das Nações Unidas em Paris em 10 de dezembro de 1948 (Resolução 217 A da Assembleia Geral) como um padrão comum de conquistas para todos os povos e todas as nações. Ela estabelece, pela primeira vez, os direitos humanos fundamentais a serem universalmente protegidos e foi traduzida para mais de 500 idiomas. A DUDH é amplamente reconhecida por ter inspirado e pavimentado o caminho para a adoção de mais de setenta tratados de direitos humanos, aplicados hoje em base permanente em níveis global e regional (todos contendo referências a ela em seus preâmbulos).</p>
            <p>Decisão: <strong>Adotada e proclamada pela Assembleia Geral das Nações Unidas (resolução 217 A III) em 10 de dezembro 1948.</strong></p>
        </div>
        <section id="preambulo">
            <h2>Preâmbulo</h2>
            <p>Considerando que o reconhecimento da dignidade inerente a todos os membros da família humana e de seus direitos iguais e inalienáveis é o fundamento da liberdade, da justiça e da paz no mundo,</p>
            <p>Considerando que o desprezo e o desrespeito pelos direitos humanos resultaram em atos bárbaros que ultrajaram a consciência da humanidade e que o advento de um mundo em que mulheres e homens gozem de liberdade de palavra, de crença e da liberdade de viverem a salvo do temor e da necessidade foi proclamado como a mais alta aspiração do ser humano comum,</p>
            <p>Considerando ser essencial que os direitos humanos sejam protegidos pelo império da lei, para que o ser humano não seja compelido, como último recurso, à rebelião contra a tirania e a opressão,</p>
            <p>Considerando ser essencial promover o desenvolvimento de relações amistosas entre as nações,</p>
            <p>Considerando que os povos das Nações Unidas reafirmaram, na Carta, sua fé nos direitos fundamentais do ser humano, na dignidade e no valor da pessoa humana e na igualdade de direitos do homem e da mulher e que decidiram promover o progresso social e melhores condições de vida em uma liberdade mais ampla,</p>
            <p>Considerando que os Países-Membros se comprometeram a promover, em cooperação com as Nações Unidas, o respeito universal aos direitos e liberdades fundamentais do ser humano e a observância desses direitos e liberdades,</p>
            <p>Considerando que uma compreensão comum desses direitos e liberdades é da mais alta importância para o pleno cumprimento desse compromisso,</p>
            <p>Agora portanto a Assembleia Geral proclama a presente Declaração Universal dos Direitos Humanos como o ideal comum a ser atingido por todos os povos e todas as nações, com o objetivo de que cada indivíduo e cada órgão da sociedade tendo sempre em mente esta Declaração, esforce-se, por meio do ensino e da educação, por promover o respeito a esses direitos e liberdades, e, pela adoção de medidas progressivas de caráter nacional e internacional, por assegurar o seu reconhecimento e a sua observância universais e efetivos, tanto entre os povos dos próprios Países-Membros quanto entre os povos dos territórios sob sua jurisdição.</p>

        </section>

        <section id="artigos">
            <article>
                <h3>Artigo 1</h3>
                <p>Todos os seres
                humanos nascem livres e iguais em dignidade e direitos. São dotados
                de razão e consciência e devem agir em relação uns aos outros com
                espírito de fraternidade.</p>

                <h3>Artigo 2</h3>
                <p>1. Todo ser humano
                tem capacidade para gozar os direitos e as liberdades estabelecidos
                nesta Declaração, sem distinção de qualquer espécie, seja de
                raça, cor, sexo, língua, religião, opinião política ou de outra
                natureza, origem nacional ou social, riqueza, nascimento, ou qualquer
                outra condição. 
                </p>
                <p>2. Não será também
                feita nenhuma distinção fundada na condição política, jurídica
                ou internacional do país ou território a que pertença uma pessoa,
                quer se trate de um território independente, sob tutela, sem governo
                próprio, quer sujeito a qualquer outra limitação de soberania.</p>

                <h3>Artigo 3</h3>
                <p>Todo ser humano tem
                direito à vida, à liberdade e à segurança pessoal.</p>

                <h3>Artigo 4</h3>
                <p>Ninguém será
                mantido em escravidão ou servidão; a escravidão e o tráfico de
                escravos serão proibidos em todas as suas formas.</p>

                <h3>Artigo 5</h3>
                <p>Ninguém será
                submetido à tortura, nem a tratamento ou castigo cruel, desumano ou
                degradante.</p>
                <h3>Artigo 6</h3>
                <p>Todo ser humano tem
                o direito de ser, em todos os lugares, reconhecido como pessoa
                perante a lei.</p>

                <h3>Artigo 7</h3>
                <p>Todos são iguais
                perante a lei e têm direito, sem qualquer distinção, a igual
                proteção da lei. Todos têm direito a igual proteção contra
                qualquer discriminação que viole a presente Declaração e contra
                qualquer incitamento a tal discriminação.</p>

                <h3>Artigo 8</h3>
                <p>Todo ser humano tem
                direito a receber dos tribunais nacionais competentes remédio
                efetivo para os atos que violem os direitos fundamentais que lhe
                sejam reconhecidos pela constituição ou pela lei.</p>

                <h3>Artigo 9</h3>
                <p>Ninguém será
                arbitrariamente preso, detido ou exilado.</p>

                <h3>Artigo 10</h3>
                <p>Todo ser humano tem
                direito, em plena igualdade, a uma justa e pública audiência por
                parte de um tribunal independente e imparcial, para decidir seus
                direitos e deveres ou fundamento de qualquer acusação criminal
                contra ele.</p>

                <h3>Artigo 11</h3>
                <p>1.Todo ser humano
                acusado de um ato delituoso tem o direito de ser presumido inocente
                até que a sua culpabilidade tenha sido provada de acordo com a lei,
                em julgamento público no qual lhe tenham sido asseguradas todas as
                garantias necessárias à sua defesa. 
                </p>
                <p>2. Ninguém poderá
                ser culpado por qualquer ação ou omissão que, no momento, não
                constituíam delito perante o direito nacional ou internacional.
                Também não será imposta pena mais forte de que aquela que, no
                momento da prática, era aplicável ao ato delituoso.</p>

                <h3>Artigo 12</h3>
                <p>Ninguém será
                sujeito à interferência na sua vida privada, na sua família, no
                seu lar ou na sua correspondência, nem a ataque à sua honra e
                reputação. Todo ser humano tem direito à proteção da lei contra
                tais interferências ou ataques.</p>

                <h3>Artigo 13</h3>
                <p>1. Todo ser humano
                tem direito à liberdade de locomoção e residência dentro das
                fronteiras de cada Estado. 
                </p>
                <p>2. Todo ser humano
                tem o direito de deixar qualquer país, inclusive o próprio e a esse
                regressar.</p>

                <h3>Artigo 14</h3>
                <p>1. Todo ser humano,
                vítima de perseguição, tem o direito de procurar e de gozar asilo
                em outros países. 
                </p>
                <p>2. Esse direito não
                pode ser invocado em caso de perseguição legitimamente motivada por
                crimes de direito comum ou por atos contrários aos objetivos e
                princípios das Nações Unidas.</p>

                <h3>Artigo 15</h3>
                <p>1. Todo ser humano
                tem direito a uma nacionalidade. 
                </p>
                <p>2. Ninguém será
                arbitrariamente privado de sua nacionalidade, nem do direito de mudar
                de nacionalidade.</p>

                <h3>Artigo 16</h3>
                <p>1. Os homens e
                mulheres de maior idade, sem qualquer restrição de raça,
                nacionalidade ou religião, têm o direito de contrair matrimônio e
                fundar uma família. Gozam de iguais direitos em relação ao
                casamento, sua duração e sua dissolução. 
                </p>
                <p>2. O casamento não
                será válido senão com o livre e pleno consentimento dos nubentes. 
                </p>
                <p>3. A família é o
                núcleo natural e fundamental da sociedade e tem direito à proteção
                da sociedade e do Estado.</p>

                <h3>Artigo 17</h3>
                <p>1. Todo ser humano
                tem direito à propriedade, só ou em sociedade com outros. 
                </p>
                <p>2. Ninguém será
                arbitrariamente privado de sua propriedade.</p>

                <h3>Artigo 18</h3>
                <p>Todo ser humano tem
                direito à liberdade de pensamento, consciência e religião; esse
                direito inclui a liberdade de mudar de religião ou crença e a
                liberdade de manifestar essa religião ou crença pelo ensino, pela
                prática, pelo culto em público ou em particular.</p>

                <h3>Artigo 19</h3>
                <p>Todo ser humano tem
                direito à liberdade de opinião e expressão; esse direito inclui a
                liberdade de, sem interferência, ter opiniões e de procurar,
                receber e transmitir informações e idéias por quaisquer meios e
                independentemente de fronteiras.</p>

                <h3>Artigo 20</h3>
                <p>1. Todo ser humano
                tem direito à liberdade de reunião e associação pacífica. 
                </p>
                <p>2. Ninguém pode ser
                obrigado a fazer parte de uma associação.</p>

                <h3>Artigo 21</h3>
                <p>1. Todo ser humano
                tem o direito de tomar parte no governo de seu país diretamente ou
                por intermédio de representantes livremente escolhidos. 
                </p>
                <p>2. Todo ser humano
                tem igual direito de acesso ao serviço público do seu país. 
                </p>
                <p>3. A vontade do povo
                será a base da autoridade do governo; essa vontade será expressa em
                eleições periódicas e legítimas, por sufrágio universal, por
                voto secreto ou processo equivalente que assegure a liberdade de
                voto.</p>

                <h3>Artigo 22</h3>
                <p>Todo ser humano,
                como membro da sociedade, tem direito à segurança social, à
                realização pelo esforço nacional, pela cooperação internacional
                e de acordo com a organização e recursos de cada Estado, dos
                direitos econômicos, sociais e culturais indispensáveis à sua
                dignidade e ao livre desenvolvimento da sua personalidade.</p>

                <h3>Artigo 23</h3>
                <p>1. Todo ser humano
                tem direito ao trabalho, à livre escolha de emprego, a condições
                justas e favoráveis de trabalho e à proteção contra o desemprego.
                </p>
                <p>2. Todo ser humano,
                sem qualquer distinção, tem direito a igual remuneração por igual
                trabalho. 
                </p>
                <p>3. Todo ser humano
                que trabalha tem direito a uma remuneração justa e satisfatória
                que lhe assegure, assim como à sua família, uma existência
                compatível com a dignidade humana e a que se acrescentarão, se
                necessário, outros meios de proteção social. 
                </p>
                <p>4. Todo ser humano
                tem direito a organizar sindicatos e a neles ingressar para proteção
                de seus interesses.</p>

                <h3>Artigo 24</h3>
                <p>Todo ser humano tem
                direito a repouso e lazer, inclusive a limitação razoável das
                horas de trabalho e a férias remuneradas periódicas.</p>

                <h3>Artigo 25</h3>
                <p>1. Todo ser humano
                tem direito a um padrão de vida capaz de assegurar a si e à sua
                família saúde, bem-estar, inclusive alimentação, vestuário,
                habitação, cuidados médicos e os serviços sociais indispensáveis
                e direito à segurança em caso de desemprego, doença invalidez,
                viuvez, velhice ou outros casos de perda dos meios de subsistência
                em circunstâncias fora de seu controle. 
                </p>
                <p>2. A maternidade e a
                infância têm direito a cuidados e assistência especiais. Todas as
                crianças, nascidas dentro ou fora do matrimônio, gozarão da mesma
                proteção social.</p>

                <p>Artigo 26</p>
                <p>1. Todo ser humano
                tem direito à instrução. A instrução será gratuita, pelo menos
                nos graus elementares e fundamentais. A instrução elementar será
                obrigatória. A instrução técnico-profissional será acessível a
                todos, bem como a instrução superior, esta baseada no mérito. 
                </p>
                <p>2. A instrução
                será orientada no sentido do pleno desenvolvimento da personalidade
                humana e do fortalecimento do respeito pelos direitos do ser humano e
                pelas liberdades fundamentais. A instrução promoverá a
                compreensão, a tolerância e a amizade entre todas as nações e
                grupos raciais ou religiosos e coadjuvará as atividades das Nações
                Unidas em prol da manutenção da paz. 
                </p>
                <p>3. Os pais têm
                prioridade de direito na escolha do gênero de instrução que será
                ministrada a seus filhos.</p>

                <h3>Artigo 27</h3>
                <p>1. Todo ser humano
                tem o direito de participar livremente da vida cultural da
                comunidade, de fruir as artes e de participar do progresso científico
                e de seus benefícios. 
                </p>
                <p>2. Todo ser humano
                tem direito à proteção dos interesses morais e materiais
                decorrentes de qualquer produção científica literária ou
                artística da qual seja autor.</p>

                <h3>Artigo 28</h3>
                <p>Todo ser humano tem
                direito a uma ordem social e internacional em que os direitos e
                liberdades estabelecidos na presente Declaração possam ser
                plenamente realizados.</p>

                <h3>Artigo 29</h3>
                <p>1. Todo ser humano
                tem deveres para com a comunidade, na qual o livre e pleno
                desenvolvimento de sua personalidade é possível. 
                </p>
                <p>2. No exercício de
                seus direitos e liberdades, todo ser humano estará sujeito apenas às
                limitações determinadas pela lei, exclusivamente com o fim de
                assegurar o devido reconhecimento e respeito dos direitos e
                liberdades de outrem e de satisfazer as justas exigências da moral,
                da ordem pública e do bem-estar de uma sociedade democrática. 
                </p>
                <p>3. Esses direitos e
                liberdades não podem, em hipótese alguma, ser exercidos
                contrariamente aos objetivos e princípios das Nações Unidas.</p>

                <h3>Artigo 30</h3>
                <p>Nenhuma disposição
                da presente Declaração pode ser interpretada como o reconhecimento
                a qualquer Estado, grupo ou pessoa, do direito de exercer qualquer
                atividade ou praticar qualquer ato destinado à destruição de
                quaisquer dos direitos e liberdades aqui estabelecidos.</p>
            </article>

        </section>
        <p>Fonte:</p>
        <div class="links-externos">

            <a href="https://www.unicef.org/brazil/declaracao-universal-dos-direitos-humanos" target="_blank" rel="noopener noreferrer">Unicef Brasil</a>
        </div>
    </div>
</body>
<footer>
    <div class="footer-container">
        <!-- Logo Section -->
        <div class="logo-section">
            <a href="/">
                <img src="{% static 'images/logo_footer.png' %}" alt="Logo da Xlex Educação e Pesquisa Jurídica" width="76px">
            </a>
        </div>
        <br>
        <!-- Highlighted Text and Views Count -->
        <h2 class="highlighted-text">XLEX, LOVE LEX!</h2>
        {% if views_count %}
        <p>Views: {{ views_count }}</p>
        {% endif %}
    
        <!-- Footer Description -->
        <div class="description-footer">
            <h6>Agradecemos sua visita e o interesse pelo nosso conteúdo. Convidamos você a explorar outras seções do site. Faça um tour!</h6>
        </div>
        
        <!-- Brand Information -->
        <div class="footer-brand-info">
            <p>&copy; 2023 Xlex Educação Pesquisa Jurídica e Desenvolvimento Social. Todos os direitos reservados.</p>
            <small style="color:gray">By: Marcos Rodrigues</small>
        </div>
    </div>
    <div class="footer-navbar">
        <div class="container-nav">
            <nav class="footer-nav">
                <ul class="footer-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'app_home:sobre-nos' %}">Sobre Nós</a></li>
                    <li><a href="{% url 'app_home:contact-us' %}">Contato</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
</html>