{% extends "base.html" %}
{% load static %}
{% block 'title' %}Sobre nós{% endblock 'title' %}
{% block description %}Xlex Educação e Pesquisa Jurídica. Página Sobre Nós{% endblock description %}
{% block keywords %}Xlex Educação Sobre Nós{% endblock keywords %}

{% block 'sobre_nos' %}
<div class="content-container">
    <img src="{% static 'images/destaque_sobrenos.jpg' %}" alt="Página Sobre Nós" class="article-image">
    <div class="article-summary">
        <h1 id="title-post-h1" style="text-transform: uppercase;">Sobre Nós</h1>
        <i>Sejam muito bem vindos(as) ao nosso site!</i><br>
        <i>Xlex Educação e Pesquisa Jurídica e Desenvolvimento Social</i>
    </div>
    <h4>O que é o Xlex?</h4>
    <p>O nome Xlex tem origem no latim, mais especificamente da palavra "lex", 
        que significa "lei". A escolha desse nome foi feita por sua conexão direta 
        com o mundo jurídico. <br><br>
        O Xlex é um portal dedicado à educação e pesquisa jurídica. Tem como característica central a educação e, portanto, 
        oferece uma variedade de conteúdos que podem ser consumidos por estudantes, acadêmicos, juristas e cidadãos 
        interessados nos impactos das leis na sociedade.
    </p>
    <p>O Xlex se propõe a ser um 
        lugar onde todos os usuários encontrarão conteúdo atualizado e de qualidade. Estamos desenvolvendo
        uma rede interconectada de domínios, incluindo xlex.com.br, xlex.store, xlexedu.com e xlex.online,
        onde serão oferecidos todos os nossos serviços. 
    </p>

    <p>Estamos criando uma experiência abrangente para os usuários, 
        permitindo acesso distribuído, rápido, seguro, eficiente e moderno. 
    </p>

    <p>Sobre Marcos Rodrigues (.MR): Marcos Rodrigues, natural do município de Palhoça - SC, é o idealizador do projeto. 
        Formado e pós-graduando em Direito Tributário, sua jornada é marcada por lutas, esforço e perseverança.</p>

    <p>Amante das Ciências Jurídicas, .MR é um defensor ferrenho dos Princípios Democráticos e do Estado de Direito. 
        Hoje, dedica boa parte do seu tempo a este projeto, com o propósito de contribuir para a educação jurídica e político-social, 
        buscando impactar positivamente a comunidade através da disseminação de conhecimento.</p>
    
    <p>Obrigado pela visita! .MR</p>
    <a 
    href="https://www.linkedin.com/in/marcos-rodrigues-92119789/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BFtAVORfISxOEtyRhVPHadg%3D%3D" class="a-link" target="_blank" rel="noopener noreferrer">Linkedin</a>


</div>
{% endblock 'sobre_nos' %}
