{% extends 'base.html' %}
{% load static %}
{% block 'title' %} {{ object.title }} {% endblock 'title' %} 
{% block description %}{{object.meta_description}}{% endblock description %}
{% block keywords %}{{object.keyword}}{% endblock keywords %} 

{% block 'question_single' %}
<br>
<div class="container">
    <div class="row g-5">
        <div class="col-md-8" id="main-content">
            <br>
            <h1 id="title-post-h1" style="text-transform: uppercase;">{{object.title}}</h1>
            Banca: <span class="badge bg-dark">{{object.banca}}</span><br>
            Disciplina: <span><strong>{{object.disciplina}}</strong></span> -
            Ramo do Direito: <span><strong>{{object.ramo_direito}}</strong></span><br>
            Última revisão: <small>{{object.last_updated}}</small> 
            <hr>
            <img src="{% static 'images/destaque_questions.jpg' %}" alt="Questões da OAB" class="article-image">
            <br>
            <div class="article-summary">
                <h5>{{object.title}}</h5>
                <i>{{object.meta_description}}</i>
            </div>
            <p>{{object.question_ask | safe}}</p>
            <br>

            <form class="escolha" id="alternativasForm"  style="font-family:Merriweather; color: rgb(76, 76, 76);">
                {% for alternativa in object.alternativa.all %}
                    <input id="escolha" type="radio" name="answer" value="{{ alternativa.id }}" data-correct="{{ alternativa.is_correct }}"> {{ alternativa.text }}<br><br>
                {% endfor %}
            </form>
            <br>
            <br>
            <div class="resposta">
                <span>Já sabe qual alternativa é a correta?</span><br><br>
                <details>
                    <summary id="checkAnswerBtn" style="font-size:18px;">Ver Resposta 💡</summary>
                    {% for alternativa in object.alternativa.all %}
                        {% if alternativa.is_correct %}
                            <br>
                            <p id="responseMessage"><strong></strong></p>
                            <p><strong>A alternativa correta é: </strong></p>
                            <p style="color: rgb(37, 172, 7);">{{ alternativa.text }}</p>
                            <br>
                            <div>
                                <h6 class="card-title">Fundamentação</h6>
                                <hr>
                                <p>{{object.fundaments | safe }}</p> 
                            </div>                                                       
                            <br>
                            <p>Agradecemos a sua resposta!</p>
                            <br>
                            <a class="btn bg-dark text-light btn-sm" href="{% url 'app_questions:questions-list' %}">Ver outra questão</a><br><br>
                        {% endif %}
                    {% endfor %}
                </details>
            </div>
            <br><br>
            <div class="thanks">
                <small>Tags:</small>
                {% for tag in tags %}
                    <code style="color:gray"> |{{tag.name}}</code>
                {% endfor %}

                <br>
                <small><strong>Questão:</strong> {{object.title}}</small> <br>
                <small><strong>Disciplina:</strong> {{object.disciplina}}</small><br>                                                           
                <small><strong>Ramo do:</strong> {{object.ramo_direito}}</small><br>                                                           
                <small><strong>Banca Examinadora:</strong> {{object.banca}}</small><br>
                <small><strong>Views:</strong> {{object.views}}</small><br>
                <span class="coracao">&#9829; &#9829; &#9829; &#9829; &#9829;</span>                           
                <small style="color: rgb(154, 152, 152);"> Xlex</small><br>
                <span style="color: rgb(79, 79, 79);">Obrigado pela leitura!</span>
                <br>
            </div>
            <hr>
            <h5>⚖️ Leia também</h5>
            <div class="links-externos">
                <a href="https://xlex.com.br/artigos/post/constitucionalismo-um-fenomeno-social/" target="_blank" rel="noopener noreferrer">Surgimento do Constitucionalismo</a>
                <a href="#" target="_blank" rel="noopener noreferrer">Constitucionalismo Social</a>
                <a href="#" target="_blank" rel="noopener noreferrer">Resolução Ambiental CONAMA</a>
                <a href="#" target="_blank" rel="noopener noreferrer">História do Direito Ambiental</a>
            </div>

            <h5>🔗 Links ùteis</h5>            
            <div class="links-externos">

                <a href="https://www.planalto.gov.br/ccivil_03/leis/2002/l10406compilada.htm" target="_blank" rel="noopener noreferrer">Código Civil - Lei 10.406/2002</a>
                <a href="https://www.planalto.gov.br/ccivil_03/decreto-lei/del2848compilado.htm" target="_blank" rel="noopener noreferrer">Código Penal - DL 2.848/1940</a>
                <a href="https://www.planalto.gov.br/ccivil_03/constituicao/constituicao.htm" target="_blank" rel="noopener noreferrer">Constituição Federal - CF/1988</a>
                <a href="https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2015/lei/l13105.htm" target="_blank" rel="noopener noreferrer">Código de Processo Civil - Lei 13.105/2015</a>
                <a href="https://www.planalto.gov.br/ccivil_03/decreto-lei/del3689.htm" target="_blank" rel="noopener noreferrer">Código de Processo Penal - DL 3.689/1941</a>
            </div>                
        </div>

        
 
        <script src="/static/js/revelar_answer_question.js"></script>
{% endblock 'question_single' %}